body {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.topSection {
    align-self: flex-start;
    padding: 30px;
    max-width: 753px;
}

.subHeader {
    padding: 60px 30px 15px;
}

.filter_container {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
}

.filter_controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    padding-left: 30px;
}

.filter_right {
    padding-right: 60px;
}

.clearbutton {
    width: 151px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    cursor: pointer;
}

.clearbutton_text {
    font-family: Arial, Helvetica, sans-serif;
    color: #002B56;
    font-size: 12px;
}

.filter_text {
    margin-right: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #606060;
}

.filter_isOpen {
    width: 106px;
    margin-right: 30px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid grey;
}

.check_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.isOpen_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #002B56;
}

.radioButton {
    border-radius: 50%;
    height: 14px;
    width: 14px;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 10px;
    .checked {
        position: absolute;
        top: 2px;
        right: 2px;
        bottom: 2px;
        left: 2px;
        background-color: #002B56;
        border-radius: 50%;
        // height: 12px;
        // width: 12px;
    }
}

.filter_isOpen:hover {
    border-bottom: 1px solid#1A84EF;
    .isOpen_text {
        color: #1A84EF;
    }
    .radioButton {
        border: 1px solid #1A84EF;
    }
    .checked {
        position: absolute;
        top: 2px;
        right: 2px;
        bottom: 2px;
        left: 2px;
        background-color: #1A84EF;
        border-radius: 50%;
        // height: 12px;
        // width: 12px;
    }
}

.filter_price {
    width: 86px;
    margin-right: 30px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    cursor: pointer;
}

.dropdown_wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dropdown_button {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.price_dropdown {
    width: 86px;
    margin-right: 30px;
    height: 25px;
    border-bottom: 1px solid grey;
}

.category_dropdown {
    width: 150px;
    margin-right: 30px;
    height: 25px;
    border-bottom: 1px solid grey;
}

.dropdown_list {
    position: absolute;
    top: 25px;
    left: -5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 15px;
    text-decoration: none;
    width: 100%;
    border: 1px solid grey;
    background-color: #ffffff;
}

.dropdown_listitem {
    padding-bottom: 10px;
    width: 100%;
    cursor: pointer;
}

.price_dropdown:hover {
    border-bottom: 1px solid#1A84EF;
    .isOpen_text {
        color: #1A84EF;
    }
    .radioButton {
        border: 1px solid #1A84EF;
    }
    .checked {
        position: absolute;
        top: 2px;
        right: 2px;
        bottom: 2px;
        left: 2px;
        background-color: #1A84EF;
        border-radius: 50%;
        // height: 12px;
        // width: 12px;
    }
}

.category_dropdown:hover {
    border-bottom: 1px solid#1A84EF;
    .isOpen_text {
        color: #1A84EF;
    }
    .radioButton {
        border: 1px solid #1A84EF;
    }
    .checked {
        position: absolute;
        top: 2px;
        right: 2px;
        bottom: 2px;
        left: 2px;
        background-color: #1A84EF;
        border-radius: 50%;
        // height: 12px;
        // width: 12px;
    }
}

.grid {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(200px, auto);
}

@media screen and (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.listing_details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;
}